<div class="card" style="width: 20rem;">
  <div class="card-body bg-dark">
    <h2 class="text-white text-center">Tu Carrito</h2>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row my-2">
        <div class="col-3">
          <span class="">
            imagen aqui
          </span>
        </div>
        <div class="col-5">
          <div class="row">
            <span class="text-center">Calcomania</span>
          </div>
          <div class="row my-2 justify-content-center align-items-center">
            <button class="mx-2 btn btn-outline-dark col-3 btn-sm rounded-circle text-center" type="submit" id="boton-pequenio">-</button>
            <button class="mx-2 btn btn-outline-dark col-3 btn-sm rounded-circle text-center" type="submit" id="boton-pequenio">+</button>
          </div>
        </div>
        <div class="col-4">
          <button class="my-2 btn btn-dark">Eliminar</button>
        </div>
      </div>

    </li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-body">
    <h4 class="text-center mx-4">Tu total $10.0000</h4>
    <button class="btn btn-dark mt-2 col-12">Pagar</button>
  </div>
</div>

