<div class="d-flex justify-content-center align-items-center vh-100">

    <mat-card-content>
        <div class="form-container" style="text-align: center;">
            <a href="#"><img class="img-fluid mx-auto d-block m-3" width="300px" height="220px" src=".\assets\images\logo2.png"></a>
            <p class="title mt-2">Registrarse</p>
            <form [formGroup]="signup">
                <div class="row my-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput placeholder="Ingrese su nombre" formControlName="fname">
                        <mat-error *ngIf="fname.invalid || fname.pristine">
                            El nombre es requerido
                        </mat-error>
                    </mat-form-field>
                </div>
      
                <div class="row my-2" >
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input type="text" matInput placeholder="Ingrese su apellido" formControlName="lname">
                        <mat-error *ngIf="lname.invalid || lname.pristine">
                            El apellido es requerido
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row my-2" >
                    <mat-form-field appearance="outline">
                        <mat-label>Correo electronico</mat-label>
                        <input type="email" matInput placeholder="Ingrese su correo electronico" formControlName="email">
                        <mat-error *ngIf="email.errors?.['required']">
                            El email es requerido
                        </mat-error>
                        <mat-error *ngIf="email.errors?.['email']">
                            Ingrese un email valido
                        </mat-error>
                    </mat-form-field>
                </div>
      
                <div class="row my-2" >
                    <mat-form-field appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input type="password" matInput placeholder="Ingrese su contraseña" formControlName="password">
                        <mat-error *ngIf="password.invalid || password.pristine">
                            La contraseña es requerida
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="row text-center text-white my-2">
                    <span>¿Ya tienes una cuenta? <a class="text-white" routerLink="login" (click)="navegarRegister()"> Iniciar sesión</a> </span>
                </div>

                <div class="text-center mt-4">
                    <button class="button" [disabled]="signup.invalid">Registrarse</button>
                </div>
            </form>

        </div>

    </mat-card-content>

</div>


