<main-content-navbar></main-content-navbar>

<div class="container mt-4">
    <mat-card class="example-card">
        <mat-card-header>
            <div style="margin: 0 auto">
                <img mat-card-image src=".\assets\images\logo3.png" id="imagen-cabecera">
            </div>
        </mat-card-header>
        <mat-card-content>
            <mat-card-title><h1>¿Quienes somos?</h1></mat-card-title>
            <h4>Kliche es tu destino confiable en la ciudad de Ipiales para todo lo relacionado 
                con alarmas y polarizados automotrices. Con una amplia gama de servicios y productos de alta calidad, 
                nos enorgullece ser una referencia en seguridad y estética vehicular en la región. 
                Nuestra pasión por la excelencia y nuestro compromiso con la satisfacción del cliente nos distinguen 
                en el mercado.</h4>    
                <br>
                <div class="image-grid">
                    <div class="image">
                        <img src="./assets/images/ins4.jpeg" alt="Imagen 1">
                    </div>
                    <div class="image" style="height: 50%;">
                        <img src="./assets/images/ins3.jpeg" alt="Imagen 2">
                    </div>
                    <div class="image">
                        <img src="./assets/images/ins2.jpeg" alt="Imagen 3;">
                    </div>
                </div>
                <mat-card-title class="mt-4"><h1>Compromiso con la Calidad y la Innovación.</h1></mat-card-title>
                <h4>Nuestro negocio se basa en la calidad, la innovación y la satisfacción del cliente. Trabajamos con 
                    las mejores marcas en la industria y nos mantenemos actualizados con las últimas tendencias y avances 
                    tecnológicos en alarmas y polarizados. Esto nos permite ofrecer a nuestros clientes soluciones 
                    vanguardistas que cumplen con los estándares más altos de calidad y seguridad. <br>
                    
                    Kliche se enorgullece de ser un actor confiable en el mercado de alarmas y polarizados en Ipiales. 
                    Ya sea que busques proteger tu vehículo o mejorar su aspecto, nuestro equipo está listo para cumplir 
                    con tus expectativas y superarlas. Ven y descubre cómo podemos transformar tu experiencia de 
                    conducción en algo más seguro y estilizado.
                </h4> 

                <mat-card-title class="mt-4"><h1>Mantenimiento e instalacion de: </h1></mat-card-title>
                <h4>    
                * Alarmas. <br>
                * Elevavidrios.<br>
                * Bloqueos 2 y  4 puertas.<br>
                * Polarizados.<br>
                * Emblemas y calcomonias.<br>
                * Reflectivos y vinilos.<br>
                * Accesorios en general.<br>
            </h4>

            
        </mat-card-content>
    </mat-card>
</div>

