<div class="container">

    <img class="img-fluid mx-auto d-block mt-5" src=".\assets\images\logo-blanco.png">
  
    <div class="row">
        <div class="text-center mt-5 text-white">
            <h2 id="color-ent" class="fs-1">Bienvenido a Lujos K'liche</h2>
            <h2 id="color-ent" class="fs-4 lh-sm">¡Todo en lujos para autos!</h2>

            <a href="acercade" class="btn p-2 mt-3" style="text-transform: none;"  > 
                Sobre nosotros <mat-icon>info</mat-icon>
            </a>              
        </div>
    </div>
  </div>